# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# virtualenv
.venv/
venv/
env/

# env
.env
*.local

# test
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
.DS_Store

# data
data/uploads/
data/processed/
*.db

# Milvus local data
volumes/
